<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zulu Zest</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

<div class="container">
    <div class="header">
        <h1>Zulu Zest</h1>
    </div>
<form action="/next-page"  method="GET" >
 <div class="main-buttons">
        <button class="play-button"> Lets Play</button>
    </div>

</form>
   

   

</body>
</html>
